    body
    {
        padding-top:0px ;
    }

    
    .nav-logo img{
    
        max-width: 160px;
        position: absolute;
        top: 5px;
        left: 80px;
    
    
    }
    .navbar-nav{
    
        float: right;
        margin-left: 20%;
        color: white;
    }
    
    .menu{
        /* margin-top: 3%; */
        size: 35px;
        font-weight: 500;
    }
    
    .navbar ,.navbar-expand-lg ,.navbar-dark  ,.bg-none{
    
        position: -webkit-sticky;
        position: sticky;
        top:0;
        /* position: fixed; */
        width: 100%;
        margin-top: -2px;
        background-color: black;
        z-index: 99999;

    }
    
    .loginCart{
    
        position: absolute;
        right: 30px;
        margin-top: 0;
        float: right;
        padding: 8px;
    }
    i{
    
        margin-left: 20px;
    
    
    }
    i:hover{
        color: tomato;
    
    }
    
    
    
    
    a{
        text-decoration: none;
        color : white;
        padding: 5px;
        float: left;
        font-size: 3vh;
        list-style-type: none;
        font-family: "Montserrat";
        font-weight: 600;
        
    }
    a:hover{
        text-decoration: none;
        color : tomato;
        padding: 5px;
        float: left;
        list-style-type: none;
    }
    
    .active
    {
        color: #da6b1d;
    }